<template>
    <lightning-card  title="Weather">
        <lightning-button-group slot="actions">
            <lightning-button label="Refresh" onclick={handleRefresh}></lightning-button>
            <lightning-button label="Edit" onclick={handleEdit}></lightning-button>
        </lightning-button-group>

        <div class="slds-var-p-horizontal_small">
            <template if:true={isFormEnabled}>
                <div class="slds-grid slds-gutters slds-wrap">
                    <div class="slds-col slds-size_1-of-1">
                        <lightning-input type="text" name="inputCity" label="Enter City"
                        placeholder="London, UK"
                        onchange={updateValue} value={displayCity}>
                        </lightning-input>
                    </div>
                    <div class="slds-col slds-size_1-of-1">
                        <lightning-input type="password" name="inputApiKey" label="Enter API Key"
                        placeholder="Leave blank to use existing key"
                        field-level-help="Grab one from: https://openweathermap.org/api"
                        onchange={updateValue}>
                        </lightning-input>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-var-m-top_x-small">
                        <lightning-button variant="brand" label="Save" title="Save"
                        onclick={handleFormSave}>
                        </lightning-button>
                        <lightning-button label="Cancel" title="Cancel"
                        onclick={handleCancel} class="slds-var-m-left_x-small">
                        </lightning-button>
                    </div>
                </div>
            </template>
            <template if:false={isFormEnabled}>
                <div class="slds-grid slds-gutters">
                    <div class="slds-grid slds-col slds-size_2-of-3 slds-wrap">
                        <div class="slds-col slds-size_1-of-2">City : </div>
                        <div class="slds-col slds-size_1-of-2">{displayCity}</div>
                        <div class="slds-col slds-size_1-of-2">Temperature : </div>
                        <div class="slds-col slds-size_1-of-2">{temperature}</div>
                        <div class="slds-col slds-size_1-of-2">Weather : </div>
                        <div class="slds-col slds-size_1-of-2">{weatherDescription}</div>
                    </div>
                    <div class="slds-col slds-size_1-of-3">
                        <img src={weatherIcon}>
                    </div>
                </div>
            </template>
        </div>

        <div slot="footer">
            <template if:false={error}>
                Last synced on :
                <lightning-formatted-date-time value={timestamp}
                year="numeric"
                month="numeric"
                day="numeric"
                hour="2-digit"
                minute="2-digit"
                second="2-digit">
                </lightning-formatted-date-time>
            </template>
            <template if:true={error}>
                Error fetching weather information : {error.body.message}
            </template>
        </div>
    </lightning-card>
</template>